@{
    ViewData["Title"] = "Staff Dashboard";
}

<h2>Staff Dashboard</h2>

<div class="row">
    <div class="col-md-4">
        <div class="card bg-info text-white">
            <div class="card-body">
                <h5>Total Orders</h5>
                <p class="display-6">@ViewBag.TotalOrders</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-success text-white">
            <div class="card-body">
                <h5>Total Deliveries</h5>
                <p class="display-6">@ViewBag.TotalDeliveries</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card bg-danger text-white">
            <div class="card-body">
                <h5>Total Returns</h5>
                <p class="display-6">@ViewBag.TotalReturns</p>
            </div>
        </div>
    </div>
</div>
